<form method="post" action="/messages">
  <label for="message">Message:</label>
  <textarea type="text" col="40" row="5" id="message" name="message"></textarea><br>
  <button>Submit</button>
</form>

<% messages.each do |message_hash| %>

  <li>
    <%= message_hash["message"] %>
    <form method="POST" action="/messages/<%=message_hash["id"]%>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete</button>
    </form>
    <a href="/messages/<%=message_hash["id"]%>/edit">Edit</a>
    <a href="/comments/new/<%=message_hash["id"]%>">Comment</a>
    <ul>
      Comments:
    <%comments.each do |comment_hash|%>
        <% if comment_hash["message_id"] == message_hash["id"]%>
          <li><%=comment_hash["comment"]%></li>
        <%end%>
    <%end%>
        </ul>
  </li>
  <br/><br/>

<% end %>

